<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :domain_id %>
    <%= form.select :domain_id, options_for_select(Domain.pluck(:name, :id)), include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :project_number %>
    <%= form.number_field :project_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
